In [ ]:
#!pip install meteomatics

In [ ]:
import pandas as pd
import meteomatics.api as api
import datetime as dt

## Download weather forecast with Meteomatics API

Set weather parameters to be downloaded according to [API Docs](https://www.meteomatics.com/en/api/available-parameters/).

In [ ]:
parameters_ts = ['t_2m:C', 'msl_pressure:hPa', 'precip_1h:mm', 'wind_speed_10m:ms', 'wind_dir_10m:d']

now = dt.datetime.utcnow().replace(minute=0, second=0, microsecond=0)
startdate_ts = now
enddate_ts = startdate_ts + dt.timedelta(days=7)
interval_ts = dt.timedelta(hours=1)

username = 'neuefischegmbh_rankovic'
password = '2Fsy8O2NzQ'

coordinates_ts, city = [(50.0259, 8.5213)], 'Frankfurt' 
#coordinates_ts, city = [(53.0451, 8.7981)], 'Bremen'

try:
    df_ts = api.query_time_series(coordinates_ts, startdate_ts, enddate_ts, interval_ts,
                                  parameters_ts, username, password)
except Exception as e:
    print("Failed, the exception is {}".format(e))

In [ ]:
df_ts = df_ts.reset_index()
df_ts['city'] = city
df_ts = df_ts.rename(columns={'validdate': 'timestamp', 't_2m:C': 'temperature', 'msl_pressure:hPa': 'pressure', 'precip_1h:mm': 'precip', 'wind_speed_10m:ms': 'wind_speed', 'wind_dir_10m:d': 'wind_direction'})

In [36]:
df_ts['timestamp'] = df_ts['timestamp'].dt.tz_localize(None)
df_ts.head()

,lat,lon,timestamp,temperature,pressure,precip,wind_speed,wind_direction,city
0,50.0259,8.5213,2022-03-14 16:00:00,12.8,1028.6,0.0,3.8,265.0,Frankfurt
1,50.0259,8.5213,2022-03-14 17:00:00,9.7,1028.8,0.0,3.1,264.7,Frankfurt
2,50.0259,8.5213,2022-03-14 18:00:00,8.9,1029.5,0.0,2.9,243.5,Frankfurt
3,50.0259,8.5213,2022-03-14 19:00:00,8.5,1029.8,0.0,1.2,270.5,Frankfurt
4,50.0259,8.5213,2022-03-14 20:00:00,7.5,1030.3,0.0,1.5,171.0,Frankfurt

In [ ]:
df_ts.to_csv('../data/processed_weather_forecast.csv', index=False)